body {
    padding-top: 5rem;
    background-image: url("../images/background.jpg");
  }

  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  p{
    font-size: 30px;
    font-style: italic;
  }

  label{
    font-weight: bold;
  }
  
  .error {
    color: red;
    font-size: 90%;
    }